<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue JS</title>

  </head>
  <body>
    <div id="root">

      <ul>
        <li v-for="name in names">{{name}}</li>
      </ul>

      <input type="text" id="input" value="" v-model="newName">
      <button type="button" v-on:click="addName">Add</button>

    </div>


  <script type="text/javascript" src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
  <script type="text/javascript">



    new Vue({
      el: '#root',
      data: {
        newName: '',
        names: ['Drailan', 'Kat', 'Azel']

      },

    methods: {
      addName(){
        this.names.push(this.newName);
        this.newName = '';

      }
    },

    })

  </script>
  </body>
</html>
